/* Mobile-Friendly Websites */
/* Final Project */
/* K0mputer N3rd */
/* 02/13/2022 */

/* style.css */

/* Universal Formatting */
* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

/* Heading Formatting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Akaya Telivigala", cursive;
}

/* Jumbotron */
#jumbotron {
  height: 100vh;
  min-height: 400px;
  background-color: wheat;
  background-image: url("../img/KnitBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Minitron */
#minitron {
  min-height: 150px;
  background-color: wheat;
  background-image: url("../img/KnitBack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.brand {
  font-family: "Akaya Telivigala", cursive;
}

.logo {
  width: 44px;
  height: 44px;
}

.video {
  width: 100vw;
  max-height: 100vh;
  margin: 0;
}
